*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    background-image: url(../img/opcion_fondo3.jpg);
    background-size: cover;
}


.row{
    background-color:  rgba(255, 255, 255, 0.741);
    border-radius: 25px;
    width: 90%;
    min-height: 80%;
    max-height: 900%;
    margin: auto;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.info{
    margin: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

a{
    height: 40px;
}

p{
    display: inline;
    line-height: 25px;
}

.img{
    margin: auto auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img img{
    border-radius: 25px;
    max-height: 25%;
}

h1, h3{
    color: rgb(97, 97, 97);
}

 

/*body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-image: url(../img/opcion_fondo3.jpg);
    background-size: cover;
}
.container{
    background-color:  rgba(255, 255, 255, 0.741);
    border-radius: 25px;
    min-height: 100px;
}
.row{
    margin: 15px;
    max-height: 500px;

    justify-content: space-between;
    white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.column{
    height: 100%;
}

p{
    display: inline;
    line-height: 25px;
}

.info{
    white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.caracteristica{
    font-weight: lighter;
}

.containerBtn{
    display: flex;
    flex-direction: row;
}

a{
    height: 40px;
}

h1{
height:50px;
width:100%;
overflow: hidden;
text-overflow: ellipsis;
}

h1, h3{
    color: rgb(97, 97, 97);
}

.img{
    background-color: #fff;
    border-radius: 25px;
}
.img img{

    max-height: 500px;
}

@media screen and (max-width: 800px){

    .info{
        width: 100%;
    }

    .img{
        width: 100%;
    }
}*/